@font-face {
    font-family: "Phosphor-Light";
    src: url("/static/assets/fonts/Phosphor-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.ph-light {
    font-family: "Phosphor-Light" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icons used by muhomu */

.ph-light.ph-play:before {
    content: "\e3d0";
}
.ph-light.ph-pause:before {
    content: "\e39e";
}
.ph-light.ph-stop:before {
    content: "\e46c";
}
.ph-light.ph-gear-six:before {
    content: "\e272";
}
.ph-light.ph-pencil-simple:before {
    content: "\e3b4";
}
.ph-light.ph-trash:before {
    content: "\e4a6";
}
.ph-light.ph-plus:before {
    content: "\e3d4";
}
.ph-light.ph-caret-right:before {
    content: "\e13a";
}
.ph-light.ph-shuffle:before {
    content: "\e422";
}
.ph-light.ph-x:before {
    content: "\e4f6";
}
.ph-light.ph-check:before {
    content: "\e182";
}
.ph-light.ph-minus:before {
    content: "\e32a";
}
.ph-light.ph-search:before {
    content: "\e30c";
}
.ph-light.ph-github-logo:before {
    content: "\e576";
}
.ph-light.ph-arrow-clockwise:before {
    content: "\e036";
}
.ph-light.ph-spinner:before {
    content: "\e66a";
}
